header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #7C5E99; */
    background-color: #f08204;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
    
}

h1 {
    font-family: 'Press Start 2P', sans-serif;
    color: #FFF;
    text-shadow: 5px 5px 0px #000;
}

nav {
    /* display: inline-block; */
    /* background-color: #000; */
    text-align: right;
   
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code", sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color:#f1c40f;
    width: 10px;
    height: 10px;
    margin-right: 10px;   
}

#button {
    display: inline-block;
    background-color: #f1c40f;
    box-shadow: 5px 5px 0px #000;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 100ms linear;
}

#button:hover {
    /* background-color: #e74c3c; */
    transform: scale(1.08);
}